modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19685
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEurL4U4KxPeMBY6Znlp8JN40uy2uiC2JHi0dKOYySBGOAkB_-ScwDFAii0nlGOLSIneg3voAJy5qgq_dR3AJLY"
VITE_VAPID_PUBLIC_KEY = "BEurL4U4KxPeMBY6Znlp8JN40uy2uiC2JHi0dKOYySBGOAkB_-ScwDFAii0nlGOLSIneg3voAJy5qgq_dR3AJLY"
VAPID_PRIVATE_KEY = "1G4TfTBpGlnEPTf4rfZfAP2wW330Q14w8gXesjlZzcQ"
